*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.round_animation{
    display: flex;
    justify-content: space-around;
}

.round{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    border-left:none;
    border-right:5px solid rgb(247, 31, 31);
    border-top: 17px solid rgb(19, 18, 18) ;
    border-bottom: 17px solid rgb(133, 55, 55);
    margin-top: 50px;
    margin-left: 50px;
    animation-name: loder;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}

@keyframes loder {
    from{
        transform: rotate(40deg);
        background-color: rgba(119, 107, 123, 0.793);
    }
    to{
        transform: rotate(360deg);
        background-color: rgb(173, 120, 222);
        
    }
}

.line_animation{
 margin: 100px auto;
 width: 400px;
}

.line_animation span{
    display: inline-block;
    width: 7px;
    height: 200px;
    margin-left: 30px;
    background-color: rgb(20, 21, 22);
    animation-name: linepreloder;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.line_animation span:nth-child(2){
    animation-delay: 0.2s;
}

.line_animation span:nth-child(3){
    animation-delay: 0.3s;
}

.line_animation span:nth-child(4){
    animation-delay: 0.4s;
}

.line_animation span:nth-child(5){
    animation-delay: 0.8s;
}

.line_animation span:nth-child(6){
    animation-delay: 0.4s;
}
.line_animation span:nth-child(7){
    animation-delay: 0.3s;
}
.line_animation span:nth-child(8){
    animation-delay: 0.2s;
}

@keyframes linepreloder{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
    
}

.parent_round{
    width: 1100px;;
    margin: auto;
    margin-top: 50px;
    border: 3px solid maroon;
    border-top:70px solid maroon ;
    padding-bottom: 100px;
    padding-top: 120px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
    box-shadow: 6px 7px 13px rgb(114, 107, 107);
}

p{
    font-size: 50px;
    color: rgb(52, 21, 21);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 70px;
    text-shadow: 1px 2px 5px blue;
}

p span{
    color: rgb(205, 121, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-shadow: 4px 8px 10px maroon;
}